{% extends 'app/base.html' %} {% block content %} {% load static %}
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
        <div class="container text-center position-relative" data-aos="fade-in" data-aos-delay="200">
          <h1>The Compost Monitoring System</h1>
          <a href="#about" class="btn-get-started scrollto">Get Started</a>
        </div>
       </section><!-- End Hero --> 
   
        <!-- ======= Why Us Section ======= -->
        <section id="why-us" class="why-us">
          <div class="container">
    
              <div class="col-lg-12 d-flex align-items-stretch">
                <div class="icon-boxes d-flex flex-column justify-content-center">
                  <div class="row">
                    <div class="col-xl-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                      <div class="icon-box mt-4 mt-xl-0">
                        <i class="bx bx-receipt"></i>
                        <h4>What is composting?</h4>
                        <p>Composting is a natural process that involves the decomposition of 
                          organic materials, such as food scraps, yard waste, and leaves, to 
                          produce nutrient-rich compost. It is a sustainable way to recycle 
                          organic waste into a valuable soil amendment.
                        </p>
                      </div>
                    </div>
                    <div class="col-xl-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
                      <div class="icon-box mt-4 mt-xl-0">
                        <i class="bx bx-cube-alt"></i>
                        <h4>Who can compost?</h4>
                        <p>Anyone can compost! Individuals, households, businesses, 
                          schools and community gardens. Composting is a flexible and scalable practice that can 
                          be adapted to various settings and needs.

                        </p>
                      </div>
                    </div>
                    <div class="col-xl-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
                      <div class="icon-box mt-4 mt-xl-0">
                        <i class="bx bx-images"></i>
                        <h4>Where can we compost?</h4>
                        <p>Composting can be done in different locations. Including backyard composting at 
                          home, composting in community gardens or schools, workplace composting 
                          programs, and utilizing commercial composting facilities.
                        </p>
                      </div>
                    </div>
                    <div class="col-xl-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                      <div class="icon-box mt-4 mt-xl-0">
                        <i class="bx bx-receipt"></i>
                        <h4>Why is composting so important?</h4>
                        <p>It reduces the amount of organic waste sent to landfills, 
                          reducing methane emissions and mitigating environmental harm. 
                          Also enriches soil health, improves water retention, 
                          reduces the need for synthetic fertilizers, and promotes sustainable 
                          gardening and agriculture.

                        </p>
                      </div>
                    </div>
                    <div class="col-lg-12 d-flex align-items-stretch" data-aos="fade-right">
                      <div class="content mt-4">
                        <h3>Why does composting need surveillance?</h3>
                        <p>
                          To ensure the composting process is successful and efficient. 
                          Surveillance helps maintain the ideal conditions for decomposition and helps also identify 
                          and address potential issues like odor, pests, or imbalances in the 
                          compost pile. By implementing surveillance, 
                          composters can optimize the composting process, 
                          prevent problems, and produce high-quality compost.
                        </p>

                      </div>
                    </div>
                  </div>
                </div><!-- End .content-->
            </div>
    
          </div>
        </section><!-- End Why Us Section -->

       <!-- ======= About Section ======= -->
       <section id="about" class="about">
         <div class="container">
   
           <div class="row content">
             <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
               <h2>OUR surveillance solution !</h2>
               
             </div>
             <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left" data-aos-delay="200">
               <p>
                Our surveillance solution uses LoRa technology to capture data 
                from nodes strategically placed within the composting site. This data 
                is wirelessly transmitted to a gateway, which serves as a bridge 
                between the nodes and the cloud. From there, the data is securely 
                sent to the cloud for further analysis and processing. 
               </p>
               <p>
                Through our 
                intuitive web application, composting managers can access real-time 
                data visualizations, including interactive charts and a comprehensive 
                dashboard. This enables them to closely monitor crucial composting 
                metrics and make informed decisions to optimize the composting process 
                effectively.
               </p>
             </div>
           </div>
   
         </div>
       </section><!-- End About Section --> 

 
        
    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container">

        <div class="text-center" data-aos="zoom-in">
          <h3>Start composting now!</h3>
          <p> If you require more information about composting and the entire process, please visit our comprehensive composting guide.</p>
          <a class="cta-btn" href="#">Visit Guide</a>
        </div>

      </div>
    </section><!-- End Cta Section -->


    
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <div class="section-title">
              <h2>Contact</h2>
              
            </div>
          </div>

          <div class="col-lg-8" data-aos="fade-up" data-aos-delay="100">
          
            <div class="info mt-4">
              <i class="bi bi-geo-alt"></i>
              <h4>Location:</h4>
              <p>Centre d'innovation Ras Jebel à la Municipalité Ras Jebel Bizerte 7070</p>
            </div>
            <div class="row">
              <div class="col-lg-6 mt-4">
                <div class="info">
                  <i class="bi bi-envelope"></i>
                  <h4>Email:</h4>
                  <p>karim.fathallah@isgb.ucar.tn</p>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="info w-100 mt-4">
                  <i class="bi bi-phone"></i>
                  <h4>Call:</h4>
                  <p>+216 93267545</p>
                </div>
              </div>
            </div>

        
          </div>
        </div>

      </div>
    </section><!-- End Contact Section -->
       {% endblock %}   