

{% block content %}
  {% load static %}

  <!DOCTYPE html>
  <html lang="en">
    <head>
      <title>Markers Map</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      
     
      <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" 
      integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />

      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css" />

      <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" 
      integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>

    </head>
    
    <body>
      <center>
        <br> <br>   
        <form method="POST">
          {% csrf_token %}
          <div class='col-6 rounded' id="map" style="width: 1000px; height: 500px; box-sizing:border-box; margin-top: 70px; border-radius: 50px;">
            <div class="leaflet-control">
              
            </div>
          </div>

          <br> <br>
          <label for="lat">Latitude:</label> 
          <input type="text" id="lat" name="lat"> 
          <label for="lng">Longitude:</label> 
          <input type="text" id="lng" name="lng"> 
          <br> <br>
          <button class="btn btn-dark mx-auto d-block" style='font-size: 15px; background-color: darkgreen;' onclick="location.href='#'">Save Node</button> 
        </form> 
      </center>
      
      <script>
      
      
        // Create a Leaflet map
        var map = L.map('map').setView([35, 9.5], 7 );
        
        
        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
              attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
          }).addTo(map);
        
       
        var markers = [];
        map.on("click", function (e) {
            // Add new marker at double-clicked location

            //listens for a click event on the map, and creates a new marker at the location of the click
            var marker = L.marker(e.latlng, { draggable: true }).addTo(map);
            markers.push(marker);
            document.getElementById("lat").value = e.latlng.lat;
            document.getElementById("lng").value = e.latlng.lng;
        
            //listens for a dragend event on the marker, and updates the input fields with the new latitude and longitude values
            marker.on("dragend", function (e) {
              var marker = e.target;
              var position = marker.getLatLng();
              document.getElementById("lat").value = position.lat;
              document.getElementById("lng").value = position.lng;
            });
          });
          function removeAllMarkers() {
            for (var i = 0; i < markers.length; i++) {
              map.removeLayer(markers[i]);
            }
            markers = [];
          }
        
          // Retrieve all marker positions
          function getMarkerPositions() {
            var Positions = [];
            for (var i = 0; i < markers.length; i++) {
              Positions.push(markers[i].getLatLng());
            }
            return Positions;
          }
          
    
   
        </script>
    </body>
  </html>
{% endblock %}
