{% extends 'app/base.html' %}
{% block content %}
<!DOCTYPE html>
  <html lang="en">
    <head>
		<style>
			body {
			  background: linear-gradient(to bottom, #F5F5F5	, #F5F5F5);
			  
			}
		  </style>	
	</head>
<body>
<div class="h-100 p-5 mb-5 mt-5 justify-content-center align-items-center">
<div class="container">
    <div class="row d-flex justify-content-center">
		<div class="col-12 col-md-8 col-lg-6">
	<form method="POST" class="bg-light mt-5 p-5 shadow-lg  rounded">
	  {% csrf_token %}
	  <h2 class="fw mb-2 text-uppercase text-center" style="font-size:20px;">ENTER YOUR EMAIL ADDRESS TO RESET YOUR PASSWORD</h2>
	  <div class="p-5 text-center">
		<div class="d-grid" style="font-size: 40px">
			<input type="email" class="form-control" name="email" placeholder="Email" required>
		</div>
		<br>
		  <div class="d-grid" style="font-size: 20px">
		  <button class="btn-lg rounded" style="  background: #009970;
		  border: 0;
		  padding: 10px 0px;
		  color: #fff;
		  border-radius: 50px;" type="submit">Reset Password</button>
		</div>
	  </div>
	</form>
		</div>
	</div>
  </div>
</div>  	
</body>
</html>
{% endblock %}
