{% extends 'app/base.html' %} {% block content %}

<div class="h-100 p-5 mb-5 mt-5 justify-content-center align-items-center">
<div class="container">
  <div class="row d-flex justify-content-center">
		<div class="col-12 col-md-8 col-lg-6">
    <form method="POST" id="form" class="bg-light mt-5 p-5 shadow-lg rounded">
      {% csrf_token %}
      <div class="d-flex flex-column align-items-center">
        <h5 class="mb-3">Create a new password</h5>
        <div class="mb-3 ">{{ form.new_password1 }}</div>
        <h5 class="mb-3">Confirm password</h5>
        <div class="mb-3">{{ form.new_password2 }}</div>
        <div class="d-grid">
          <button class="btn btn-lg rounded" style="background: #009970 ; color: #fff;" type="submit">Save</button>
        </div>
      </div>
      
      <div style="color:red">
      {{ form.new_password1.errors }}
      {{ form.new_password2.errors }}</div>
    </form>
  </div>
</div>
  </div>
</div>

{% endblock %}