{% block content %}{% load static %}


<link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
<link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
<link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
<link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">




<div class="vh-100 d-flex justify-content-center align-items-center">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
              <form method="POST" id="form" class="shadow-lg p-4 rounded">
                {% csrf_token %}
                <h1 class="mb-4 ">Ajouter un client</h1>
                <div class="row mb-3">
                  <div class="col">
                    <h4>Nom</h4>
                    {{ form.nom }}
                    {% if form.nom.errors %}
                      <strong class="text-danger" role="alert">{{ form.nom.errors }}</strong>
                    {% endif %}
                  </div>
                  <div class="col">
                    <h4>Prénom</h4>
                    {{ form.prenom }}
                    {% if form.prenom.errors %}
                      <strong class="text-danger" role="alert">{{ form.prenom.errors }}</strong>
                    {% endif %}
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="form-label">
                    <h4>Pseudo</h4>
                    {{ form.pseudo }}
                    {% if form.pseudo.errors %}
                      <strong class="text-danger" role="alert">{{ form.pseudo.errors }}</strong>
                    {% endif %}
                  </div>
                  <div class="col">
                    <h4>Téléphone</h4>
                    {{ form.telephone }}
                    {% if form.telephone.errors %}
                      <strong class="text-danger" role="alert">{{ form.telephone.errors }}</strong>
                    {% endif %}
                  </div>
                </div>
                <div class="mb-3">
                  <h4>E-mail</h4>
                  {{ form.email }}
                  {% if form.email.errors %}
                    <strong class="text-danger" role="alert">{{ form.email.errors }}</strong>
                  {% endif %}
                </div>
                <div class="mb-3">
                  <div class="col">
                    <h4>Mot de passe</h4>
                    {{ form.mot_de_passe }}
                    {% if form.mot_de_passe.errors %}
                      <strong class="text-danger" role="alert">{{ form.mot_de_passe.errors }}</strong>
                    {% endif %}
                  </div>
                </div>
                <div class="mb-3">
                  <div class="col">
                    <h4>Confirmation du mot de passe</h4>
                    {{ form.confirmation_mot_de_passe }}
                    {% if form.confirmation_mot_de_passe.errors %}
                      <strong class="text-danger" role="alert">{{ form.confirmation_mot_de_passe.errors }}</strong>
                    {% endif %}
                  </div>
                </div>
                <div class="d-grid">
                  <button class="btn btn-outline-dark" type="submit" value="save">Suivant</button>
                </div>
              </form>
        </div>
      </div>
    </div>
  </div>
  
{% endblock %} 